@media only screen and (max-width: 600px){
  #animals {
	  content: "";
	  clear: both;
	  display: table;
  }
}

header{
	display: flex;
	justify-content: space-between;
}

.enlace{
	padding: 10px;
}


#menu{
    text-align: right;
	padding-top: 20px;
}

#capçalera{
    color: white;
	padding: 20px;
	padding-top: 35px;
}
#animals{
	display: flex;
	justify-content: space-around;
	flex-wrap:wrap;
}
#enllaç{
	color:black;
}	
	
#estat{
	display:flex;
	justify-content: space-around;
	padding:8px;
}
	
#caretta{
	border: solid lightseagreen 2px;
    border-radius: 10px;
}
#lludria{
	border: solid lightseagreen 2px;
    border-radius: 10px;
}
#ratpenat{
	border: solid lightseagreen 2px;
    border-radius: 10px;
}
#fotos{
	 width:350px;
	 height:300px;
	 margin-left:30px;
	 margin-right:30px;
}

.biblio{
	background-color:gray;
	padding: 50px;
	margin:20px;
}

#Peu{
	display: flex;
	justify-content: space-between;
	background-color: black;
}
#fin{
	color:white;
}